* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--background);
    color: var(--txt);
    font-family: "Roboto", sans-serif;
    text-align: center;
}

/* Colors (Dark) */

:root{
  --background: #212326;
  --txt: #f1f1ec;
  --accent: #70bfcd;
}

/* Typography */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Roboto Mono", serif;
    line-height: 1.4;
}

h1 {
    font-size: 2em;
    margin-bottom: 1em;
    color: var(--accent);
}

h2 {
    font-size: 1.7em;
}

h3 {
    font-size: 1.4em;
}

h4 {
    font-size: 1.1em;
}

h5 {
    font-size: 0.8em;
}

h6 {
    font-size: 0.5em;
}

p {
    font-family: "Roboto", sans-serif;
    line-height: 1.6;
}

section p {
    margin: 0 auto;
    max-width: 70%;
}

li {
    list-style: none;
}


/* Layout */

.grid {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(8, 1fr);
}

.container {
    max-width: 960px;
    margin: 0 auto;
}

.login {
    text-align: right;
}

header {
    margin: 2.5em auto;
    height: 120px;
}

header img {
    -o-object-fit: cover;
    object-fit: cover;
    width: 120px;
}

nav {
    grid-column: 2/4;
    text-align: left;
}

nav a {
    color: var(--txt);
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 500;
}

nav,
.social {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.social {
    grid-column: 7/9;
    justify-self: flex-end;
    align-content: space-between;
    width: 2em;
    max-height: 2em;
}

.social .fab {
    color: var(--txt);
}

.social .fab:hover {
  color: var(--accent);
}

section {
    grid-column: 1/9;
    grid-row: auto;
    margin-bottom: 2em;
}

footer {
    align-items: flex-end;
    background-color: var(--txt);
    color: var(--background);
    margin-top: 2.5em;
    padding: 2.5em;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

footer a {
  color: var(--accent);
}

footer a:hover {
    color: var(--background);
}

#contact {
    grid-column: 2/5;
    text-align: left;
}

a {
    text-decoration: none;
    color: var(--background);
}

a:hover {
  color: var(--accent);
}

#copy {
    text-align: right;
    grid-column: 5/8;
    font-size: 0.8em;
    text-align: right;
}

#portrait {
    max-width: 130px;
    margin-top: 2rem;
    margin-bottom: 2rem;
    border-radius: 50%;
    border: solid 3px var(--background);
}

button {
    margin-top: 1rem;
    background-color: var(--accent);
    border: none;
    border-radius: 3px;
    color: var(--background);
    padding: 6px 12px;
    cursor: pointer;
}

button:hover {
    color: var(--background);
    background-color: var(--txt);
}


/* Slider */

#slider {
    width: 100%;
    height: 400px;
    margin: auto;
    position: relative;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-size: 15px;
}

#slider .slides-container {
    position: relative;
    width: 100%;
    height: 100%;
}

#slider .slide {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display: none;
}

#slider .slide:first-child {
    display: block;
}

#slider img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}


/* Slider navigation */

#slider .pager {
    font-size: 14px;
    font-weight: 900;
    color: #777;
    text-align: center;
    margin-top: 5px;
}

#slider .arrows a {
    position: absolute;
    text-decoration: none;
    color: rgba(var(--background), 0.65);
    top: 43%;
    left: 15px;
    font-weight: 400;
    line-height: 1;
    font-size: 42px;
}

#slider .arrows a:hover {
    color: var(--txt);
}

#slider .arrows a.next {
    left: initial;
    right: 15px;
}


/* CV */

.cv-wrapper {
    display: flex;
    margin: 0 auto;
}

.skills p,
.loopbaan p {
    max-width: 100%;
}

.skills {
    width: 100%;
    text-align: right;
    padding-right: 1.2em;
}

.loopbaan {
    width: 100%;
    text-align: left;
    padding-left: 1.2em;
}
